@import "./variables";
%heroStyle {
  height: $Height-Hero/2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%heroText {
  background-color: white;
  opacity:0.65;
}

.hero {
  background-image: url("/Imagenes/imagen\ portada\ home.png");
  background-size:cover;
  background-position:center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  .hero__img {
    background-color: white;
    opacity: 0.5;
    border-radius: 400px;


    .hero__logo {
      width: 30vw;
      height: auto;
    }
  }
}

.hero__mates {
  background-image: url("/Imagenes/fondo\ mates\ home\ \(1\).png");
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .hero__text {
      // background-color: white;
      // opacity: 0.7;
      font-family:'Indie Flower', cursive;
      font-weight: bold;

      h2,p {
        color: white;
      }

      .hero__link {
          text-decoration: none;
          color: white;
      }

      .hero__link:hover {
          color:white;
          background-color: rgb(126, 77, 77);
          border-radius: 20px;
          border: 1px solid black;
          padding: 5px;
      }
  }
}

.hero__productos {
  background-image: url("/Imagenes/fondo\ mates\ \(1\).png");
  background-size:cover;
  background-position:center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  .hero__img {
    background-color: white;
    opacity: 0.5;
    border-radius: 400px;


    .hero__logo {
      width: 30vw;
      height: auto;
    }
  }
}

.hero__camionero {
  background-image: url("https://scontent.faep8-1.fna.fbcdn.net/v/t1.6435-9/74427191_112380893556652_5100045064365670400_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=iybEi_hWxIkAX96yleQ&_nc_ht=scontent.faep8-1.fna&oh=b603972740fea58e5ef00aff926b4e30&oe=6154BFF6");
  background-size:cover;
  background-position:center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  .hero__img {
    background-color: white;
    opacity: 0.5;
    border-radius: 400px;


    .hero__logo {
      width: 30vw;
      height: auto;
    }
  }
}

.hero__torpedo {
  background-image: url("https://scontent.faep8-2.fna.fbcdn.net/v/t1.6435-9/79637904_128417355286339_6233777196259868672_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=KxTmff7i2sUAX_06llt&_nc_ht=scontent.faep8-2.fna&oh=e36bc341b49b13cbd4592350080623e2&oe=6155A81F");
  background-size:cover;
  background-position:center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  .hero__img {
    background-color: white;
    opacity: 0.5;
    border-radius: 400px;


    .hero__logo {
      width: 30vw;
      height: auto;
    }
  }
}

@media (max-width: 425px) {
  .hero {
    width: 100%;
    height: 60vh;

    .hero__img {
      background-color: white;
      opacity: 0.6;
      border-radius: 400px;
  
      .hero__logo {
        width: 60vw;
        height: auto;
      }
    }
  }

  .hero__mates {
    background-image: url("/Imagenes/imagen\ portada\ home.png");
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
  
    .hero__text {
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        border-radius: $bordes-redondeados/2;
        color: white;
        font-family:'Indie Flower', cursive;
        font-weight: bold;
  
        .hero__link {
            text-decoration: none;
            color: white;
        }
  
        .hero__link:hover {
            color:white;
            background-color: rgb(126, 77, 77);
            border-radius: 20px;
            border: 1px solid black;
            padding: 5px;
        }
    }
  }

  .hero__productos {
    width: 100%;
    height: 60vh;

    .hero__img {
      background-color: white;
      opacity: 0.6;
      border-radius: 400px;
  
      .hero__logo {
        width: 60vw;
        height: auto;
      }
    }
  }

  .hero__camionero {
    width: 100%;
    height: 60vh;

    .hero__img {
      background-color: white;
      opacity: 0.6;
      border-radius: 400px;
  
      .hero__logo {
        width: 60vw;
        height: auto;
      }
    }
  }

  .hero__torpedo {
    width: 100%;
    height: 60vh;

    .hero__img {
      background-color: white;
      opacity: 0.6;
      border-radius: 400px;
  
      .hero__logo {
        width: 60vw;
        height: auto;
      }
    }
  }
}