.nav__bar {
  background-color: rgb(155, 108, 108);
  padding: 10px;

  .nav__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family:'Indie Flower', cursive;
    margin-left: 20px;
    margin-right: 20px;
  }

.nav__link:hover {
    color: white;
    font-family:'Indie Flower', cursive;
  }
}