h1, h2, h3, h4, .alerta { color: black; font-weight: bolder; }

h1 { font-size: 30px; font-family: "Indie Flower", cursive; margin-top: 15px; margin-bottom: 10px; }

h2 { font-size: 22px; font-family: "Indie Flower", cursive; }

h3 { font-size: 15px; font-family: "Indie Flower", cursive; }

h4 { font-size: 10px; font-family: "Indie Flower", cursive; }

p { font-size: 15px; font-family: "Indie Flower", cursive; color: black; }

small { font-size: 10px; font-family: "Indie Flower", cursive; color: black; font-weight: 1000; }

h5 { font-size: 10px; font-family: "Indie Flower", cursive; color: black; font-weight: bold; }

.nav__bar { background-color: #9b6c6c; padding: 10px; }

.nav__bar .nav__link { color: black; text-decoration: none; font-weight: bold; font-family: 'Indie Flower', cursive; margin-left: 20px; margin-right: 20px; }

.nav__bar .nav__link:hover { color: white; font-family: 'Indie Flower', cursive; }

.hero { background-image: url("/Imagenes/imagen portada home.png"); background-size: cover; background-position: center; width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; opacity: 1; }

.hero .hero__img { background-color: white; opacity: 0.5; border-radius: 400px; }

.hero .hero__img .hero__logo { width: 30vw; height: auto; }

.hero__mates { background-image: url("/Imagenes/fondo mates home (1).png"); background-size: cover; background-position: center; width: 100%; height: 60vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.hero__mates .hero__text { font-family: 'Indie Flower', cursive; font-weight: bold; }

.hero__mates .hero__text h2, .hero__mates .hero__text p { color: white; }

.hero__mates .hero__text .hero__link { text-decoration: none; color: white; }

.hero__mates .hero__text .hero__link:hover { color: white; background-color: #7e4d4d; border-radius: 20px; border: 1px solid black; padding: 5px; }

.hero__productos { background-image: url("/Imagenes/fondo mates (1).png"); background-size: cover; background-position: center; width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; opacity: 1; }

.hero__productos .hero__img { background-color: white; opacity: 0.5; border-radius: 400px; }

.hero__productos .hero__img .hero__logo { width: 30vw; height: auto; }

.hero__camionero { background-image: url("https://scontent.faep8-1.fna.fbcdn.net/v/t1.6435-9/74427191_112380893556652_5100045064365670400_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=iybEi_hWxIkAX96yleQ&_nc_ht=scontent.faep8-1.fna&oh=b603972740fea58e5ef00aff926b4e30&oe=6154BFF6"); background-size: cover; background-position: center; width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; opacity: 1; }

.hero__camionero .hero__img { background-color: white; opacity: 0.5; border-radius: 400px; }

.hero__camionero .hero__img .hero__logo { width: 30vw; height: auto; }

.hero__torpedo { background-image: url("https://scontent.faep8-2.fna.fbcdn.net/v/t1.6435-9/79637904_128417355286339_6233777196259868672_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=KxTmff7i2sUAX_06llt&_nc_ht=scontent.faep8-2.fna&oh=e36bc341b49b13cbd4592350080623e2&oe=6155A81F"); background-size: cover; background-position: center; width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; opacity: 1; }

.hero__torpedo .hero__img { background-color: white; opacity: 0.5; border-radius: 400px; }

.hero__torpedo .hero__img .hero__logo { width: 30vw; height: auto; }

@media (max-width: 425px) { .hero { width: 100%; height: 60vh; }
  .hero .hero__img { background-color: white; opacity: 0.6; border-radius: 400px; }
  .hero .hero__img .hero__logo { width: 60vw; height: auto; }
  .hero__mates { background-image: url("/Imagenes/imagen portada home.png"); background-size: cover; background-position: center; width: 100%; height: 60vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
  .hero__mates .hero__text { margin-left: 20px; margin-right: 20px; padding: 10px; border-radius: 25px; color: white; font-family: 'Indie Flower', cursive; font-weight: bold; }
  .hero__mates .hero__text .hero__link { text-decoration: none; color: white; }
  .hero__mates .hero__text .hero__link:hover { color: white; background-color: #7e4d4d; border-radius: 20px; border: 1px solid black; padding: 5px; }
  .hero__productos { width: 100%; height: 60vh; }
  .hero__productos .hero__img { background-color: white; opacity: 0.6; border-radius: 400px; }
  .hero__productos .hero__img .hero__logo { width: 60vw; height: auto; }
  .hero__camionero { width: 100%; height: 60vh; }
  .hero__camionero .hero__img { background-color: white; opacity: 0.6; border-radius: 400px; }
  .hero__camionero .hero__img .hero__logo { width: 60vw; height: auto; }
  .hero__torpedo { width: 100%; height: 60vh; }
  .hero__torpedo .hero__img { background-color: white; opacity: 0.6; border-radius: 400px; }
  .hero__torpedo .hero__img .hero__logo { width: 60vw; height: auto; } }

.secMates { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 25vh; }

.secMates .secMates__serv { font-family: 'Indie Flower', cursive; font-weight: bold; }

.productos { width: 100%; }

.productos .productos__mates { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.productos .productos__mates .productos__camionero { width: 40%; height: 50vh; background-image: url("/Imagenes/imagen portada home.png"); background-size: cover; background-position: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; border-radius: 25px; }

.productos .productos__mates .productos__camionero .productos__link { text-decoration: none; }

.productos .productos__mates .productos__camionero .productos__link h2, .productos .productos__mates .productos__camionero .productos__link p { color: white; }

.productos .productos__mates .productos__torpedo { width: 40%; height: 50vh; background-image: url("https://scontent.faep8-1.fna.fbcdn.net/v/t1.6435-9/75561565_112391666888908_7105350764993708032_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=JxrKxSEJLz0AX_8B6vm&_nc_ht=scontent.faep8-1.fna&oh=1cbdc1ec725d895e4cbbafa3a3456cdc&oe=61738A57"); background-size: cover; background-position: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; border-radius: 25px; }

.productos .productos__mates .productos__torpedo .productos__link { text-decoration: none; }

.productos .productos__mates .productos__torpedo .productos__link h2, .productos .productos__mates .productos__torpedo .productos__link p { color: white; }

.camio .camio__galeria { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.camio .camio__galeria .camio__imagen { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.camio .camio__galeria .camio__imagen .camio__img { width: 90%; height: auto; border-radius: 25px; }

@media (max-width: 425px) { .secMates { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 50vh; }
  .productos { width: 100%; }
  .productos .productos__mates { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .productos .productos__mates .productos__camionero { width: 80%; height: 50vh; padding: 10px; }
  .productos .productos__mates .productos__camionero .productos__link { text-decoration: none; }
  .productos .productos__mates .productos__torpedo { width: 80%; height: 50vh; margin-top: 20px; padding: 10px; }
  .productos .productos__mates .productos__torpedo .productos__link { text-decoration: none; }
  .camio .camio__galeria { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .camio .camio__galeria .camio__imagen { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 20px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .camio .camio__galeria .camio__imagen .camio__img { width: 90%; height: auto; border-radius: 25px; } }

.footer { background-image: -webkit-gradient(linear, left top, right top, from(#696969), to(#c0c0c0)); background-image: linear-gradient(to right, #696969, #c0c0c0); -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer__logo { text-decoration: none; }

.footer__logo h1 { font-family: "Indie Flower", cursive; font-size: 55px; font-weight: bolder; }

.footer__logo h1:hover { background-color: white; border-radius: 25px; }

.footer__Links { list-style-type: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer__Link { -webkit-transform: scale(2, 2); transform: scale(2, 2); text-decoration: none; }

.footer__Link:hover { -webkit-transform: scale(3.5, 3.5); transform: scale(3.5, 3.5); }

.footer__LinkColor { color: black; }

.icono404 { border: none; }

.error404 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-item-align: center; align-self: center; }

.alerta { font-size: 90px; }

footer { background-color: #9b6c6c; }
